//META{"name":"ClearVision_AshesOfCreation","description":"A blue theme with customizable colors & background!</br> Based on <a href='https://github.com/0mniscient/Discord-Themes/tree/master/Themes' target='_blank'>Discord Reborn</a> by <a href='https://github.com/0mniscient' target='_blank'>@Omniscient</a> & <a href='https://github.com/cosmicsalad/Discord-Themes-and-Plugins/tree/master/themes/DarkMatter' target='_blank'>DarkMatter</a> by <a href='https://github.com/cosmicsalad' target='_blank'>@Hammock</a> <span style='position: absolute; bottom: 0; left: 0;'>Links: <b><a href='https://git.io/v6BHO' target='_blank'>Github</a></b> | <b><a href='https://discord.gg/FtYVPky' target='_blank'>Discord</a></b> | <b><a href='https://git.io/vXTqM' target='_blank'>Wiki</a></b></span> <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a></b></span>","author":"<a href='https://github.com/Loke0046' target='_blank'>@loke0046</a>","version":"1"}*//{}
/* created by @Zerthox orginally, Editet by @loke0046 */
/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/Zerthox/ClearVision/master/css/ClearVision_v5.min.css);
@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu|Josefin+Slab|Varela+Round');
@import url(https://github.com/loke0046/BD-Themes/blob/master/Northwood%20High.ttf?raw=true);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
@font-face {
    font-family: UsernameFont;
    src: url(https://github.com/loke0046/BD-Themes/blob/master/Northwood%20High.ttf);
}

:root {
	--main-color: #219bc4;
	--hover-color:  #bee6f4;
    --background-blur: 3px;
    --background-brightness: 400%;
}
.theme-dark .message-group.compact .message .markup .user-name {
    font-family: UsernameFont;
    font-size:125% 
}
.headerTagNormal-KyD3_J {
    font-family: UsernameFont;
    font-size:125% 
}
.chat>.content .messages .message-group a, .theme-dark .chat>.content .messages .message-group a{
	font-family: 'Varela Round', sans-serif; 
}
.channel-members .member .member-activity, .channel-members .member .member-username-inner {
    font-family: UsernameFont;
    font-size:125%
}
.channel-members .member .member-activity-text {
    font-family: 'Varela Round', sans-serif;
    font-size:60%
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameHoveredText-2FFqiz, .nameHoveredVoice-TIoHRJ, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa, .nameMutedText-1YDcP-, .nameMutedVoice-26k4cP, .nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw, .nameUnreadText-1pxldj, .nameUnreadVoice-QK4gxH {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
.userDefault-2_cnT0 {
    font-family: UsernameFont;
    font-size:125%
}

/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://www.ashesofcreation.com/wp-content/uploads/2017/06/forum-bg-new-6.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
