.theme-dark .message-group.compact .message .markup .user-name {
    font-family: 'Varela Round', sans-serif;
    font-size:125% 
}
.headerTagNormal-KyD3_J {
    font-family: 'Varela Round', sans-serif;
    font-size:125% 
}
.message-group.compact .message .message-text .markup .message-content{
	font-family: 'Varela Round', sans-serif; 
}
.channel-members .member .member-activity, .channel-members .member .member-username-inner {
    font-family: 'Varela Round', sans-serif;
    font-size:125%
}
.channel-members .member .member-activity-text {
    font-family: 'Varela Round', sans-serif;
    font-size:60%
}
.nameDefaultText-QoumjC, .nameDefaultVoice-1swZoh, .nameHoveredText-2FFqiz, .nameHoveredVoice-TIoHRJ, .nameLockedText-2fGz07, .nameLockedVoice-wNOMNa, .nameMutedText-1YDcP-, .nameMutedVoice-26k4cP, .nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw, .nameUnreadText-1pxldj, .nameUnreadVoice-QK4gxH {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
.userDefault-2_cnT0 {
    font-family: 'Varela Round', sans-serif;
    font-size:125%
}
.theme-dark .textArea-20yzAH {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
#friends .friends-table .friends-row .friends-column-status .friend-activity-text, #friends .friends-table .friends-row .friends-column-status .status-text {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
#friends .friends-table .friends-row .discord-tag .username {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
.private-channels .channel .channel-name {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
.private-channels .channel .channel-activity-text {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
#friends .friends-header .tab-bar {
    font-family: 'Varela Round', sans-serif;
    font-size:100%
}
